.button {
  height: 40px;
  border-radius: 4px;
  background-image: linear-gradient(29deg, #5865ea 0%, #2b9fea 100%);
  padding: 0 20px;

  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Arial";
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    height: 40px;
    border-radius: 4px;
    filter: drop-shadow(0px 1px 8.5px rgba(43, 160, 234, 0.66));
  }
}
